# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.log
*.pot
*.pyc
*.pkl

# ---- Virtual Enviroment ----
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# ---- Reflex ----
.web
.next/
.rx/
build/
dist/
assets/external/
.states
*.db

# ---- Dependencies ----
*.lock
poetry.lock
Pipfile.lock
node_modules/

# ---- System Files ----
.DS_Store

# ---- Database ----
database.json